/* override browser default */
html,
body {
    margin: 0;
    padding: 0;
    background-color: rgba(218,41,28,1);
}

/* use viewport-relative units to cover page fully */
body {

    height: 75vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-self: stretch;
}

header {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

footer {
    flex: 0 1 40px;
}

/* include border and padding in element width and height */
* {
    box-sizing: content-box;
}

main {
    display: grid;
    flex: 1 1 auto;
    width: 100%;
    height: 80%;
    grid-template-columns: 1fr 50vw 1fr;
    grid-template-rows: 1fr 50vh 1fr;
    grid-template-areas:
        ". . ."
        ". grid-container controls"
        "left-knob . right-knob";
}

h1 {
    color: rgba(207,181,28,1);
    font-family: 'Akaya Kanadaka', cursive, Arial, sans-serif;
    font-size: 5vw;
    text-align: center;
}

button {
    background-color: rgba(207,181,28,1);
    color: rgba(218,41,28,1);
    margin-left: 0.5em;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    border-radius: 10px;
}

button:focus {
    outline-style: none;
}

button:active {
    background-color: white;
}

.controls {
    grid-area: controls;
    width: 100%;
    height: 100%;
    display: grid;
    background-color: transparent;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr;
    grid-template-areas:
        "grid-size"
        "colour"
        "reset"
        "."
        ".";
}

.input-label {
    color: rgba(207,181,28,1);
    font-family: 'Akaya Kanadaka', cursive, Arial, sans-serif;
    font-size: 1.5vw;
    padding-left: 0.5em;
}

.grid-container {
    grid-area: grid-container;
}

.grid-size, .segment-colour {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1 fr 1fr;
    grid-template-areas:
        "label"
        "input";
    align-content: flex-end;
}

.reset {
    display: grid;
    align-content: flex-end;
    justify-content: left;
}

.segment {
    width: 100%;
    height: 100%;
    background-color: white;
    border-width: 1px;
    border-color: black;
    border-style: solid;

}

.grid-size-label {
    grid-area: label;
}

.grid-size {
    grid-area: grid-size;
}

.grid-size-input {
    grid-area: input;
    width: 3em;
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
    margin-left: 0.5em;
    text-align: center;
    border-style: none;
    border-radius: 0.25em;
}

.grid-size-input:focus {
    outline-color: rgba(207,181,28,1);
}

.segment-colour-label {
    grid-area: label;
}

.segment-colour-input {
    grid-area: input;
    margin-left: 1em;
    height:3em;
}

.left-knob, .right-knob {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 8vw;
    height: 8vw;
    background-color: white;
    border-radius: 50%;
}

.left-knob {
    grid-area: left-knob;
}

.right-knob {
    grid-area: right-knob;
}

footer {
    color: rgba(207,181,28,1);
    text-align: center;
    font-size: 2vw;
}

@media only screen and (max-width: 800px) {
    main {
        grid-template-areas:
        ". controls ."
        ". grid-container ."
        "left-knob . right-knob";
    }

    .controls {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "grid-size colour reset";
    }

    button {
        font-size: 10px;
    }

    .input-label {
        font-size: 2.5vw;
    }

    .grid-size-input {
        font-size: 2.5vw;
    }

    .reset {
        margin-bottom: 0.5em;
    }

}